.PillButton {
    -fx-background-radius: 25px;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill:  black;
} 

.MainMenuButton {
	-fx-background-color: rgb(73, 209, 255);
}
.MainMenuButton:hover {
	-fx-background-color: cornflowerblue;
}